* {
    font-family: Arial;
    margin: 0;
}

body {
    background-color: aliceblue;
}

h1 {
    margin: 0 auto;
    text-align: center;
    background-color: lightgray;
    padding: 10px;

}

h2 {
    font-family: Lucida normal;
    font-weight: normal;
    text-align: center;
    margin: 10px;
}

.workout {
    background-color: lightgray;
    padding: 3px 5px;
    margin: 20px 0px;
    text-align: center;
    list-style-position: inside;
}

.workout li {
    padding: 3px;
}

.workout p {
    padding: 3px;
}