* {
    font-family: Inter;
}

body {
    background-color: aliceblue;
}

h1 {
    margin: 0 auto;
    text-align: center;
    background-color: lightgray;
    padding: 10px;

}

h2 {
    font-family: Lucida normal;
    font-weight: normal;
    text-align: center;
}

.workout {
    background-color: lightcyan;
    padding: 3px 5px;
    margin-bottom: 5px;
    text-align: center;
    list-style-position: inside;
}

